<div id="example-card-%id%" class="col-md-4 col-sm-6">
    <div class="card text-bg-light mb-3 shadow-sm" style="height:400px">
        <a href="%name%.html" class="stretched-link">
            <img src="screenshots/%name%.jpg" class="card-img-top" alt="%name% example thumbnail">
        </a>
        <div class="card-body">
            <h6 class="card-title" id="example-title-%id%">%title%</h6>
            <p class="card-text text-muted fs-6 fw-lighter" id="example-desc-%id%">%description%</p>
        </div>
    </div>
</div>
