---
title: Add / Remove layers
shortdesc: Add and remove layers in a Map.
longdesc: Use the <a target="_blank" href="../apidoc/module-entities_Map-Map.html#addLayer"><code>addLayer()</code></a> and <a target="_blank" href="../apidoc/module-entities_Map-Map.html#removeLayer"><code>removeLayer()</code></a> methods to add and remove layers in a Map.
attribution: Map style by <a target="_blank" href="https://stamen.com/">Stamen Design</a>, © OpenStreetMap contributors
---
<div class="dropdown m-3 position-absolute top-0 end-0">
    <button class="btn btn-primary" id="addLayer">Add layer</button>
    <button class="ms-3 btn btn-primary" id="removeLayer">Remove layer</button>
</div>
