---
title: Custom controls
shortdesc: Uses yomotsu/camera-controls with keyboard events, orbiting on right-click and custom Inspector pane
attribution: © <a target="_blank" href="https://ign.fr/">IGN</a>
---
<!-- Screenshot's icon from Lucide: https://github.com/lucide-icons/lucide -->
<div class="dropdown m-3 position-absolute top-0 end-0">
    <button class="btn btn-primary" id="animate">Animate</button>
</div>

<script type="module" src="https://unpkg.com/camera-controls@2.3.1/dist/camera-controls.js"></script>
