---
title: Elevation COG
shortdesc: Display an elevation COG with a color map.
longdesc: A COG that contains elevation data in 32-bit floating point values. You can visualize the dataset in the following ways&#58; as an elevation layer with or without a color map, as a color layer compressed to 8-bit using <a href="../apidoc/module-core_layer_Interpretation-Interpretation.html#.CompressTo8Bit" target="_blank"><code>Interpretation.CompressTo8Bit</code></a>, and as a color layer with a <a href="../apidoc/module-core_layer_ColorMap-ColorMap.html" target="_blank"><code>ColorMap</code></a>.
attribution: © <a target="_blank" href="https://www.usgs.gov/">U.S. Geological Survey</a>
---
<div class="m-2 position-absolute top-0 end-0">

    <!-- Top color layer -->
    <div class="card m-1">
        <div class="container m-1">

            <fieldset class="row p-1">
                <div class="input-group">
                    <span class="input-group-text flex-grow-1">Read COG as</span>
                    <select class="btn btn-outline-primary btn-sm" id="mode">
                        <option selected value="elevation">Elevation layer</option>
                        <option value="elevation-colormap">Elevation layer (with colormap)</option>
                        <option value="8bit">Color layer (compressed to 8-bit)</option>
                        <option value="colormap">Color layer (with colormap)</option>
                    </select>
                </div>
            </fieldset>

        </div>
    </div>

</div>
