---
title: Cloud Optimized GeoTIFF (COG)
shortdesc: Display a RGB COG.
longdesc: <a href="https://www.cogeo.org/" target="_blank">Cloud Optimized GeoTIFFs</a> are regular GeoTIFF files whose layout is optimized for remote access. They allow streaming the image without tiling it beforehand.
attribution: © <a target="_blank" href="https://eox.at/">EOX</a>
---
