---
title: No-data elimination
shortdesc: Display an elevation COG and discard no-data values.
longdesc: The <code>discardNoData</code> option in the <a href="../apidoc/module-entities_Map-Map.html" target="_blank"><code>Map</code></a> allows to only display portions of the map where elevation data is present. Portions with no data are discarded.
attribution: © <a target="_blank" href="https://www.usgs.gov/">U.S. Geological Survey</a>
---
<div class="m-2 position-absolute top-0 end-0">

    <div class="card m-1">
        <div class="container m-1">

            <!-- Toggle no-data discard -->
            <div class="row p-1">
                <div class="form-check form-switch">
                    <input class="form-check-input" checked="true" type="checkbox" role="switch" id="discard-nodata">
                    <label class="form-check-label" for="discard-nodata">Discard no-data pixels</label>
                </div>
            </div>

        </div>
    </div>

</div>
