---
title: Change layer order
shortdesc: Move layers up and down in the map.
attribution: Map style by <a target="_blank" href="https://stamen.com/">Stamen Design</a>, © OpenStreetMap contributors
---
<div class="m-2 position-absolute top-0 end-0">
    <div class="m-1">
        <ul id="layer-list" class="list-group">

            <li id="terrain" class="list-group-item">
                <div class="float-start align-start mx-4">terrain</div>
                <div class="btn-group btn-group-sm float-end" role="group" aria-label="Basic example">
                    <button id="btn-terrain-up" type="button" class="btn btn-primary">Up</button>
                    <button id="btn-terrain-down" type="button" class="btn btn-primary">Down</button>
                </div>
            </li>

            <li id="toner" class="list-group-item">
                <div class="float-start align-start mx-4">toner</div>
                <div class="btn-group btn-group-sm float-end" role="group" aria-label="Basic example">
                    <button id="btn-toner-up" type="button" class="btn btn-primary">Up</button>
                    <button id="btn-toner-down" type="button" class="btn btn-primary">Down</button>
                </div>
            </li>

            <li id="watercolor" class="list-group-item">
                <div class="float-start align-start mx-4">watercolor</div>
                <div class="btn-group btn-group-sm float-end" role="group" aria-label="Basic example">
                    <button id="btn-watercolor-up" type="button" class="btn btn-primary">Up</button>
                    <button id="btn-watercolor-down" type="button" class="btn btn-primary">Down</button>
                </div>
            </li>

          </ul>
    </div>
</div>
