---
title: 2D Map
shortdesc: Display a 2D map using an orthographic camera.
longdesc: This example illustrates the use of the Map entity to create a flat, 2D <a href="../apidoc/module-entities_Map-Map.html" target="_blank"><code>Map</code></a> using an OpenLayers source.
attribution: Map style by <a target="_blank" href="https://stamen.com/">Stamen Design</a>, © OpenStreetMap contributors
---
