---
title: WFS as 3D meshes
shortdesc: Display features from a WFS source as 3D meshes
attribution: © <a target="_blank" href="https://www.grandlyon.com/">Métropole Grand Lyon</a>, <a target="_blank" href="https://ign.fr/">IGN</a>
---
